body {
    background-color: powderblue;
    font-family: sans-serif;
  }
  
  img {
    width: 25%;
  }

  .counters {
    font-size: 2em;
    font-weight: 800;
  } 

  .msg {
    text-align:center; 
    margin: 0em 15em 0em 15em;
  }