body {
    background-color: powderblue;
    font-family: sans-serif;
  }
  
  img {
    width: 25%;
  }

  .counters {
    font-size: 2em;
    font-weight: 800;
  } 

  .alert {
    /* position: absolute; */
  }